<h1>{{title}}</h1>
<form action='/items/{{item.id}}' method='POST'>
  <div>
    <input type='text' name='title' value='{{item.title}}' />
    <p>
      <textarea name='content' cols='30' rows='10'>{{item.content}}</textarea>
    </p>
    <input type="submit">
  </div>
</form>